
body {
    margin: 0;
    padding: 0;
    width: 100%;
    }

.top {
  display: block;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: #EA3719;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.top:hover {
  background-color: white;
  color: #EA3719;
}

    .menu{
      padding: 25px;
    margin: -89px;
    }

.navbar {

  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
 padding-bottom: 60px;
}

.navbar a {

  display: flex;
  display: inline-block;
  color:  #109974;
  text-align: center;
     padding: 14px 56px 19px 60px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Varela Round', sans-serif;
   

}
.navbar a:hover {
  background: #EA3719;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.navbar img{
    
    vertical-align: left;

    display: block;
   
    margin-right: auto;
    padding-left: 20px;
}

.social {
  justify-content: center;
    padding-left: 80px;
    display: grid;
    grid-template-columns: 80% 6.6% 6.6% 6.6%;
  }

.f1 {
  visibility: hidden;
}

.f2, .f3, .f4 {
  margin-bottom: 5px;

}

  /*  display: flex;*/

}


h1{
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}


.back img{

    
    background-image: url(../img/trumpet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 120%;

    
      padding-top: 100px;
    width: 100%;
    height: 100%;
}


.blob{
  display: flex;
}

.blob h1{
  color: #EA3719;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
   
    text-align: center;
    font-size: 55px;
    margin-left: -430px;


}

.blob p{
  color: #EA3719;
    font-family: 'Roboto', sans-serif;
        margin-right: 350px;
        line-height: 25px;
    
    margin-left: 230px;
    padding-top: 60px;


   
    
}

.blob button{
  color: black;
  color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    margin-left: 370px;
    margin-top: 23px;
    background-color: #109974;
    border-radius: 10px;

}


.blob button:hover {
  background: #109974;
  color: #EA3719;
  
  cursor: pointer;
  }

hr{
  margin-left: 240px;
    margin-right: 810px;
    /* border: none; */
    height: 7px;
    background-color: #109974;

}

.blob img{
    background-image: url(../img/mas.png);

   
}

/*section hr{
  margin-left: 255px;
    margin-right: 780px;
     border: none; 
    height: 7px;
    background-color: white;

}*/


section p{
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: 80px;
    text-align: right;
    font-size: 60px;
    background-color: #109974;
    margin-bottom: 0px;
   padding-right: 30px;
   
  padding-top: 60px;
    padding-bottom: 0px;
    margin-top: 0;


}

.wholetour{
  display: flex;
  padding-top: 50px;
}
 



#main {
  text-align: center;
  
  padding: 10px;
  /*float: right;*/
  display: flex;
  background-color: #109974;





}


.leftimage{
  /*background-image: url(../img/tourtext.png);*/
  /*float: left;*/
  padding-left: 150px; 
  padding-top: 50px;
  padding-bottom: 70px;
 /* z-index: 1px;
  position: relative;*/

}





.list {
  font-family: 'Varela Round', sans-serif;
  margin: 5px;
  display: inline-block;
  max-height: 510px;
  padding: 4px 4px 0px;
 background-color:  #109974;
 float: right;
}
.list-header {
  padding: 20px 4px;
  position: relative;
  min-height: 19px;
  display: block;
  line-height: 18px;
  text-align: right;
}

.card-list {
  overflow-y: auto;
  overflow-x: visible;
/*  max-height: 669px;*/
  /*padding-left: 250px;*/
    padding-left: 340px;
    padding-top: 40px;
  float: right;
   /*display: inline-block;*/

}
.card {
  overflow: auto;
  padding: 6px 8px 4px;
  margin-bottom: 4px;
 /* position: relative;*/
  display: block;
  cursor: pointer;
  color: rgb(77, 77, 77);
  font-size: 16px;
  line-height: 30px;
 /* border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;*/
  width: auto;
  max-width: 420px;
  text-align: left;
 display: flex;
}
.card-title {
  font-family: 'Varela Round', sans-serif;
  color: white;
  display: block;
  font-size: 25px;
  margin: 0px 0px 4px;
  overflow: hidden;
  text-decoration: none;
}

.button{
  /*padding-left: 20px;*/
  cursor: pointer;
  color: white;
  background-color: #EA3719;
  text-align: center;
  display: flex;
  margin-left: 20px;
  border-radius: 10px;
  display: block;
 

  
}
.button:hover {
  background: white;
  color: black;
  
  cursor: pointer;
  }

.button2{
 /* padding-left: 20px;*/
  cursor: pointer;
  color: white;
  background-color: #EA3719;
  text-align: center;
  margin-left: 20px;
  border-radius: 10px;
}

.button2:hover {
  background: white;
  color: black;
  
  cursor: pointer;
  }


#gallery{
background-color: #EA3719;
width: auto;
height: 2000px;
padding-top: 1px;
/*display: flex;*/

}

#gallery p{
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
      margin-left: 50px;

}


.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 100px;
     position: relative;
}

.top-left {
    position: absolute;
    top: 120px;
    left: 100px;
  

}

.top-right {
    position: absolute;
    top: 420px;
    right: 250px;
}

.centered {
      font-size: 60px;
    position: absolute;
    top: 71%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 220px;
    right: 930px;
    font-size: 20px;
    background-color: #109974;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.bottom-right:hover {
  background: white;
  color: black;
  
  cursor: pointer;
  }




footer {
  font-family: 'Varela Round', sans-serif;
  color: #EA3719;
  padding: 5px 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  text-align: center;
}


@media (max-width: 1155px){

.toggle {
    display: block;
    color: white;
    font-size: 25px;
    float: right;
    line-height: 70px;
    margin-right: 20px;
}








..............................................................................



